ol,li{margin:0.2rem}

html,body{
    height: 100%;
    width: 100%;
}
#title{
    text-align: center;
}

/*#item{
    text-align: left;
    font-size: 130%;
}*/

#item{
    /*height: 60%;*/
    font-size: 130%;
    width: 40%;
    margin: 0px auto;
}

#child_bg{
    height: 100%;
    /*text-align: center;*/
    background-color: rgba(255, 242, 204, 0.5);
    background-size: 100%;
}

#footer{
    text-align: center;
    width: 80%;
    margin: 0px auto;
}
#back{
    text-align: center;
    width: 30%;
    margin: 0px auto;
}
