ol,li{margin:0.5rem}
#root_bg{
    background-image: url("../images/book1.jpg");
    position: relative;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

html,body{
    /*font-size: 20px;*/
    height: 100%;
    width: 100%;
}

#root{
  height: 100%;
  background-color: rgba(255, 242, 204, 0.8);
}

#title_text{
    color: black !important;
}

#item{
    font-size: 130%;
    width: 50%;
    margin: 0px auto;
    /*text-align: center;*/
}

#line{
    height:1px;border:none;border-top:1px solid black;
}

#footer{
    text-align: center;
    width: 80%;
    margin: 0px auto;
}
